@charset "utf8";

h1{
    color: rgb(94, 65, 225);
    font-size: 40px;
    font-family: Verdana,Tahoma, sans-serif;
}
body{
    background-color: rgb(123, 255, 0);    
    font-family: Arial, Helvetica, sans-serif;
    
}

